<h1>My Angular App</h1>

<hr>
<ul style="list-style-type: none; display: flex; gap: 5px;">
  <li><a [routerLink]="'/'">Home</a></li>
  <li><a [routerLink]="['/directive']" [queryParams]="{type: 'basic'}">Basic Highlight Directive</a></li>
  <li><a [routerLink]="['/directive']" [queryParams]="{type: 'renderer'}">Renderer Highlight Directive</a></li>
  <li><a [routerLink]="['/directive']" [queryParams]="{type: 'host_listener'}">Host Listener</a></li>
  <li><a [routerLink]="['/directive']" [queryParams]="{type: 'host_binding'}">Host Binding</a></li>
  <li><a [routerLink]="['/directive']" [queryParams]="{type: 'property_binding'}">Directive Property Binding</a></li>
</ul>
<router-outlet />
