<p appBasicHighlight  *ngIf="type == 'basic'"  >Using Basic Highlight directive.</p>

<p *ngIf="type == 'renderer'" appRendererHighlight>Using Renderer 2 to highlight. This is a better way as
  Angular can render templated without rendering DOM as well. In such cases we wont get access to the DOM and therefore
  when we use ElementRef.nativeelement and modify its DOM properties directly it may not work sometimes.
</p>

<p *ngIf="type == 'host_listener'" appHostListener>Using Host Listener to highlight this section.
  On mouseenter it will highlight in yellow and on mouseleave it will go back to no highlight..
</p>

<p *ngIf="type == 'host_binding'" appHostBinding>Using Host Listener to highlight this section.
  On mouseenter it will highlight in yellow and on mouseleave it will go back to no highlight..
</p>
<p *ngIf="type == 'property_binding'" appDirectivePropertyBinding [defaultColor]="'transparent'"
   [highlightColor] = "'purple'">
  Property Binding in Directives. <br/>
  If a directive uses string
</p>
<p>
  #Using routerLink directive instead of href attribute of anchor tag ensure that we arent reloading the
  whole app again in browser and instead just refresh DOM by reloading component.
</p>
